  
        	<!-- Begin text carousel intro section -->
			<section id="text-carousel-intro-section" class="parallax" data-stellar-background-ratio="0.5" style="background-image: url(img/slider-bg.jpg)">
				
				<div class="container">
					<div class="caption text-center text-white" data-stellar-ratio="0.7">
						<div >
						<div id="owl-intro-text" class="owl-carousel">
							<div class="item">
								<h3 class="introTextLarge">WELCOME TO  </h3>
                                <h1 class="introTextLarge">APP NAME ATGC</h1>
								<div class="extra-space-l"></div>
								<div class="col-md-12">
								<div class="introBtn">
								<!--<a class="whitbutn page-scroll" href="#portfolio-section" role="button">Resources</a>-->
								</div>
								</div>
								<!--<a class="btn btn-blank" href="#services-section" role="button">View More!</a>-->
							</div>
						</div>

					</div> <!-- /.caption -->
				</div> <!-- /.container -->

			</section>
			<!-- End text carousel intro section -->
                
                
                
                
            <!-- Begin about section -->
			<section id="about-section" class="page bg-style1">
                <!-- Begin page header-->
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s">
                            <h2 class="HeadingTxt">About Us</h2>
                            <!--<div class="devider"></div>-->
                            <!--<p class="subtitle">little information</p>-->
                        </div>
                    </div>
                </div>
                <!-- End page header-->
				<div class="container">
				<div class="row">

					<div class="col-lg-3 col-lg-3 gauche" style="line-height: 39px !important;">
					<p class="bold_Orange">THE PREMIER</p>
							<p class="bold_Orange" > ONLINE TRAINING</p>
							<p class="bold_Orange"> ACADEMY FOR </p>
							<p class="bold_Orange">ONCOLOGISTS </p>
							<!--<p class="bold_Orange">A SIMPLE </p>
							<p class="bold_Orange">PHILOSOPHY</p>-->
					</div>

					<div class="col-lg-4 corps">
					
                    </div>
                    <div class="col-lg-5"> 
                 

                    </div>

				</div>
				</div>
                <!-- Begin rotate box-1 -->
                <!--<div class="rotate-box-1-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-2 col-md-offset-5">
                                <a href="#" class="rotate-box-1 square-icon wow zoomIn" data-wow-delay="0">
                                    
                                    <div class="rotate-box-info">
                                        <h4 class="bold_Orange">Who We Are?</h4>
                                        <p>Lorem ipsum dolor sit amet set, consectetur utes anet adipisicing elit, sed do eiusmod tempor incidist.</p>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-2 col-md-offset-5">
                                <a href="#" class="rotate-box-1 square-icon wow zoomIn" data-wow-delay="0.2s">
                                    <span class="rotate-box-icon"><i class="fa fa-diamond"></i></span>
                                    <div class="rotate-box-info">
                                        <h4>What We Do?</h4>
                                        <p>Lorem ipsum dolor sit amet set, consectetur utes anet adipisicing elit, sed do eiusmod tempor incidist.</p>
                                    </div>
                                </a>
                            </div>

                            
                            
                        </div> 
                    </div> 
                </div>-->
                <!-- End rotate box-1 -->
                
				
				
				
                <div class="extra-space-l"></div>
                
     
          </section>
          <!-- End about section -->
			
			 <!-- Begin partners -->
            <section id="partners-section" class="page">
                <!-- Begin page header-->
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                            <h2 class="HeadingTxt">Our Partners</h2>
                            <!--<div class="devider"></div>-->
                            <!--<p class="subtitle subtitle">Those who trust us</p>-->
                        </div>
                    </div>
                </div>
                <!-- End page header-->
                <div class="container">
                    <div style="margin:0 auto;" class="text-center">
                        <img src="img/partners/1new.png"  style="width:80%;" alt="img">
                        <!--<img src="img/partners/2.png" alt="img">-->
                        <!--<img src="img/partners/3.png" alt="img">
                        <img src="img/partners/4.png" alt="img">-->
                      
                    </div>
                </div>
            </section>
            <!-- End partners -->
              
             <!-- Begin team-->
            <section id="team-section" class="page" style="background-color:#EF7F1A">
                <!-- Begin page header-->
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                            <h2 class="HeadingTxtWhite">Our Team</h2>
                            <!--<div class="devider"></div>-->
                            <!--<p class="subtitle HeadingTxtWhiteNU">Meet our experts</p>-->
                        </div>
                    </div>
                </div>
                <!-- End page header-->
                
            </section>
            <!-- End team-->
			
			
			
                        
            
            
              
              
              
           
            <!-- Begin Portfolio -->
            <section id="portfolio-section" class="page bg-style1">
            	<div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portfolio">
                                <!-- Begin page header-->
                                <div class="page-header-wrapper">
                                    <div class="container">
                                        <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                                            <h2 class="HeadingTxt">Our Resources</h2>
                                            <!--<div class="devider"></div>-->
                                            
                                        </div>
                                    </div>
                                </div>
                                <!-- End page header-->
                                <div class="portfoloi_content_area" >
                                   
                                    <div class="portfolio_content">
                                        <div class="row"  id="portfolio">
										<div class="col-md-11 col-md-offset-1">
										
                                            <div class="col-md-3 col-sm-3 col-xs-6 col-md-offset-1 col-xs-offset-3 text-center">
                                                
												<p class="resourceText text-center">ARTICLES</p>
                                            </div>
											
                                            <div class="col-md-3 col-sm-3 col-xs-6 text-center">
                                                
												
                                            </div>
                                           
                                            <div class="col-md-3 col-sm-3 col-xs-6 text-center">
                                                
                                            </div>
											
                                          </div>
                                        </div>
                                    </div>
                                </div>
                            
                            </div>
                        </div>
                    </div>
                </div>
            </section>
			

			<section id="training-section" class="page bg-style1">
            	<div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portfolio">
                                <!-- Begin page header-->
                                <div class="page-header-wrapper">
                                    <div class="container">
                                        <div class="page-header text-center wow fadeInDown" data-wow-delay="0.5s">
                                            <h2 class="HeadingTxt">Academic Access</h2>
                                            <!--<div class="devider"></div>-->
                                            
                                        </div>
                                    </div>
                                </div>
                                <!-- End page header-->
                                <div class="portfoloi_content_area" >
                                   
                                    <div class="portfolio_content">
                                        <div  id="portfolio">
                                            
											<div class="col-md-11 col-md-offset-1">
											
											<div class="col-md-3 col-md-offset-2 col-xs-6">
                                                
                                            </div>
                                            <div class="col-md-3 col-md-offset-1 col-xs-6">
                                                
                                            </div>
                                            
                                           
											</div>
                                        </div>
                                    </div>
                                </div>
                            
                            </div>
                        </div>
                    </div>
                </div>
            </section>
			
            <!-- End portfolio -->
            
                
                
                
            
                           
            
                
                
                
                
            <!-- Begin contact section -->
			<section id="contact-section" class="page text-white parallax" data-stellar-background-ratio="0.5" style="margin-top:50px;">
            <div class="cover"></div>
            
                 <!-- Begin page header-->
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                            <h2 class="HeadingTxtWhite">Contact Us</h2>
                            <!--<div class="devider"></div>-->
                            <!--<p class="subtitle HeadingTxtWhiteNU">All to contact us</p>-->
                        </div>
                    </div>
                </div>
                <!-- End page header-->
                
                <div class="contact wow bounceInRight" data-wow-delay="0.4s">
					
                    <div class="container">
                    	<div class="row">
                        
                            <div class="col-sm-6">
                                <div class="contact-info">
                                    <h4>Our Address</h4>
                                    <ul class="contact-address">
			                            <li>
                                            <i class="fa fa-map-marker fa-lg" style="float: left;padding-top: 2px;"></i> 
                                            <div style="padding-left: 25px;">
                                                
                                                533, Kalbadevi Road, Tak Wadi, <br><br>Lohar Chawl, Kalbadevi,Mumbai,<br><br> Maharashtra 400002.
                                            </div>
                                        </li>
			                            <li>
                                            <i class="fa fa-phone"></i> 
                                            1800 3070 6727</li>
			                            
			                            <li><i class="fa fa-envelope"></i> positiveatgc@positivebioscience.com</li>
			                            <!--<li><i class="fa fa-skype"></i> Skype</li>-->
			                        </ul>
                                </div>
                            </div>
                        
                        	<div class="col-sm-6">
                                <div class="contact-form">
                                	<h4>Write to us</h4>
                                    <form role="form" action="/contact_us" method="post" data-remote="true">
                                        <div class="form-group">
                                            <input name="name" type="text" class="form-control input-lg" placeholder="Your Name" required>
                                        </div>
                                        <div class="form-group">
                                            <input type="email" name="email" class="form-control input-lg" placeholder="E-mail" required>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" name="subject" class="form-control input-lg" placeholder="Subject" required>
                                        </div>
                                        <div class="form-group">
                                            <textarea class="form-control input-lg" name="message" rows="5" placeholder="Message" required></textarea>
                                        </div>
                                        <button id="contact_us_button" type="submit" data-disable-with="Sending..." class="btn wow bounceInRight" data-wow-delay="0.3s">Send</button>
                                    </form>
                                </div>	
                            </div>
                                                                                
                        </div> <!-- /.row -->
						
                    </div> <!-- /.container -->
					
                </div>
				
            </section>
            <footer class="text-off-white">
            
                <div class="footer-top">
                	<div class="container">
              
                    </div><!-- /.container -->
                </div>
                
                <div class="footer">
                    <div class="container text-center wow fadeIn" data-wow-delay="0.4s">
                        <!-- <p class="copyright">Copyright &copy; 2016 <a href="#" class="theme-author">Copyright info</a> </p> -->
                    </div>
                </div>

            </footer>
            <!-- End footer -->

            <a href="#" class="scrolltotop"><i class="fa fa-arrow-up"></i></a> <!-- Scroll to top button -->
                                              
        </div><!-- body ends -->
        
        
    
