/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree . 
 *= stub "sidebar"
 *= require_self
 */
@import "variables";
.header {
    padding: 5px 0;
    margin-bottom: 30px;
    background-color: $primary_color;
    color: #aaa;
    background-repeat: no-repeat;
    background-position: 14% center;
    
}

.dis_sb{
    height: 100%;
    background: $primary_color;
    padding-top: 20px;
}
#mapSection .cover{
    background-color: $primary_color;
}
#contact-section .cover {
    background-color: $primary_color;
}
.module_item{
    background-color: #e7e8e9;
    padding: 10px 30px 10px 30px;
    margin: 5px;
    border-radius: 0px;
    border: 2px solid rgba(0,0,0,0.1);
    color: black;
}
.bb_o{
    border-bottom: 2px solid $primary_color;
    margin-bottom: 20px;
    margin-top: 20px;
}
.wizard>.actions .disabled a, .wizard>.actions .disabled a:hover, .wizard>.actions .disabled a:active {
    background: #eee;
    color: #aaa;
}
.wizard>.actions {
    position: relative;
    display: block;
    text-align: right;
    width: 100%;
}
.wizard>.actions>ul {
    display: inline-block;
    text-align: right;
}
.wizard>.actions>ul>li {
    margin: 0 .5em;
    float: left;

}
.wizard>.actions a, .wizard>.actions a:hover, .wizard>.actions a:active {
    background: $primary_color;
    color: #fff;
    display: block;
    padding: .5em 1em;
    text-decoration: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.organge-back{
    background-color: $primary_color;
}

.fl{
    float: left;
}

.f20{
    font-size: 20px;
}
.f18{
    font-size: 18px;
}
.f16{
    font-size: 16px;
}

.f14{
    font-size: 14px !important;
}

.f12{
    font-size: 12px;
}

.f17{
    font-size: 17px;
}
.container {
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    max-width: 98%;
}
.header-title a h1 {
    color: #fff;
}
.text-uppercase {
    text-transform: uppercase;
}
.mza{
    margin: 0 auto;
    display: block;
}

.grid {
    img{
    width: 100% !important;
    height: auto;
}
}

.grid {
    overflow: hidden;
    width: 188px;
    min-height: 100px;
    padding: 7px;
    background: #fff;
    margin: 8px;
    font-size: 12px;
    float: left;
    box-shadow: 0 1px 3px rgba(34,25,25,0.4);
    -moz-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
    -webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
    -webkit-transition: top 1s ease, left 1s ease;
    -moz-transition: top 1s ease, left 1s ease;
    -o-transition: top 1s ease, left 1s ease;
    -ms-transition: top 1s ease, left 1s ease;
}

.header-title {
    height: 48px;
    overflow: hidden;
    margin-left: 400px;
}

.float-left {
    float: left;
}
.header-nav{
    img {
    border: 0;
    max-width: 100%;
}

}
.float-right {
    float: right;
}
 .white20{
 	color:white;font-size:20px;
 }

 .topic-item{
 	font-size: 30px;
    color: $primary_color;
    padding: 20px;
}

.bg-color-primary{
	background: $primary_color;
}
            	#DIV_1 {
    box-sizing: border-box;
    color: rgb(153, 153, 153);
    display: none;
    height: auto;
    position: absolute;
    right: 40px;
    text-align: left;
    text-size-adjust: 100%;
    top: 76px;
    width: 25%;
    z-index: 99;
    column-rule-color: rgb(153, 153, 153);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: #e6e6e6 none repeat scroll 0% 0% / auto padding-box border-box;
    border-top: 1px solid rgb(94, 98, 99);
    border-right: 0px none rgb(153, 153, 153);
    border-bottom: 0px none rgb(153, 153, 153);
    border-left: 0px none rgb(153, 153, 153);
    list-style: none outside none;
    outline: rgb(153, 153, 153) none 0px;
    padding: 19px 20px 19px 44px;
}/*#DIV_1*/

#DIV_2 {
    box-sizing: border-box;
    color: rgb(153, 153, 153);
    height: auto;
    text-align: left;
    text-size-adjust: 100%;
    width: 100%;
    column-rule-color: rgb(153, 153, 153);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none rgb(153, 153, 153);
    list-style: none outside none;
    margin: 0px -15px;
    outline: rgb(153, 153, 153) none 0px;
}/*#DIV_2*/

#DIV_2:after {
    box-sizing: border-box;
    clear: both;
    color: rgb(153, 153, 153);
    display: table;
    height: auto;
    text-align: left;
    text-size-adjust: 100%;
    width: auto;
    column-rule-color: rgb(153, 153, 153);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none rgb(153, 153, 153);
    list-style: none outside none;
    outline: rgb(153, 153, 153) none 0px;
}/*#DIV_2:after*/

#DIV_2:before {
    box-sizing: border-box;
    color: rgb(153, 153, 153);
    display: table;
    height: auto;
    text-align: left;
    text-size-adjust: 100%;
    width: auto;
    column-rule-color: rgb(153, 153, 153);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none rgb(153, 153, 153);
    list-style: none outside none;
    outline: rgb(153, 153, 153) none 0px;
}/*#DIV_2:before*/

#DIV_3 {
    box-sizing: border-box;
    color: rgb(153, 153, 153);
    height: auto;
    text-align: left;
    text-size-adjust: 100%;
    width: auto;
    column-rule-color: rgb(153, 153, 153);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none rgb(153, 153, 153);
    list-style: none outside none;
    outline: rgb(153, 153, 153) none 0px;
}/*#DIV_3*/

#DIV_4 {
    box-sizing: border-box;
    color: rgb(153, 153, 153);
    height: auto;
    text-align: justify;
    text-size-adjust: 100%;
    width: auto;
    column-rule-color: rgb(153, 153, 153);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none rgb(153, 153, 153);
    list-style: none outside none;
    outline: rgb(153, 153, 153) none 0px;
}/*#DIV_4*/

#H4_5 {
    box-sizing: border-box;
    color: rgb(247, 144, 30);
    height: auto;
    text-align: justify;
    text-size-adjust: 100%;
    text-transform: uppercase;
    width: auto;
    column-rule-color: rgb(247, 144, 30);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none rgb(247, 144, 30);
    list-style: none outside none;
    margin: 0px;
    outline: rgb(247, 144, 30) none 0px;
}/*#H4_5*/

#INPUT_6 {
    color: rgb(153, 153, 153);
    height: auto;
    text-size-adjust: 100%;
    width: 100%;
    column-rule-color: rgb(153, 153, 153);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: #fbfbfb none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgba(0, 0, 0, 0);
    list-style: none outside none;
    margin: 10px 0px 0px;
    outline: #fbfbfb solid 1px;
    padding: 5px;
}/*#INPUT_6*/

#INPUT_7 {
    color: #e6e6e6;
    cursor: pointer;
    display: block;
    float: right;
    height: 30px;
    text-align: center;
    text-size-adjust: 100%;
    white-space: pre;
    width: auto;
    align-items: flex-start;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    user-select: none;
    background: #ef7f1a none repeat scroll 0% 0% / auto padding-box border-box;
    border: 2px solid rgba(255, 255, 255, 1);
    list-style: none outside none;
    margin: 10px 0px 0px;
    outline: rgb(119, 119, 119) none 0px;
    padding: 2px 6px 3px;
    transition: background 0.3s linear 0s;
}


	.google-maps {
				position: relative;
				padding-bottom: 75%; // This is the aspect ratio
				height: 0;
				overflow: hidden;
			}
			.google-maps iframe {
				position: absolute;
				top: 0;
				left: 0;
				width: 100% !important;
				height: 100% !important;
			}
			.bold_Orange
			{
				color:$primary_color;
				font-size:28px
			}
			.NormalText
			{
				font-size:14px;
			 line-height: 1.5;
            }
			.introTextSmall
			{
				
				background:black;
				opacity:.5;
				
			}
			.introTextLarge
			{
				font-family:Verdana;
				color:white;
				font-weight:300;
				
			}
			.map-responsive{
			overflow:hidden;
			padding-bottom:56.25%;
			position:relative;
			height:0;
		}
		
		.teamNames
		{
			color:#fff;
			font-size:14px;
			
			margin-top:30px;
			
		}
		.introBtn
		{
			height:100px;
		}
		.HeadingTxt
		{
			color:$primary_color;
			font-family: Verdana;
			font-weight:300;
		}
		
		.HeadingTxtWhite
		{
			color:#fff;
			font-family: Verdana;
			font-weight:300;
		}
		.HeadingTxtWhiteNU
		{
			color:#fff;
			
		}
		.resourceText
		{
		color:$primary_color;font-size:18px;font-family:verdana;font-weight:300
		}

 .post { background-color: #ffffff; margin-bottom: 20px; border-radius: 0px; -moz-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1); box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1); border-radius: 1px; }
.post .post-header { padding: 15px 25px; border-bottom: 1px solid #eee; }
.post .post-header .post-title { line-height: 26px; font-size: 24px; margin: 5px 0 10px; }
.post .post-header .post-title a { text-decoration: none; color: $primary_color; }
.post .post-header .post-title a:hover { color: #111; }
.post .post-body { padding: 25px; font-size: 16px; line-height: 1.6; }
.post .post-body a:hover { text-decoration: underline; }
.post .post-info { font-size: 12px; color: #AAA; text-transform: uppercase; }
.post .post-info span { margin-right: 7px; }
.post .post-info a { color: #AAA; }
.post-author {visibility:hidden;}
.post .post-footer { padding: 15px; background-color: #eee; font-size: 13px; min-height: 35px; border-top: 1px solid #eeeeee; }
.post .post-rating { height: 21px; max-width: 50%; }
.post .post-rating * { margin: 0; padding: 0; top: 0; line-height: 10px; }
.post .post-rating p { top: 9px; }
.post { img{ width: 100% !important;height: auto !important; }}
.post .post-body { ol{ li{list-style: decimal !important;}} ul{li{list-style: disc !important}} }
a:visited {
    color: $primary_color;
   
}